body{
   margin: 0;
}

.main-login{
   width: 100vw;
   height: 100vh;
   background-color: rgb(230, 228, 228);
   display: flex;
   align-items: center;
   justify-content: center;
}

.card-login{
   width: 370px;
   height: 290px;
   padding: 40px 40px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.card-login  >h1{
 color:  rgba(28, 154, 182, 0.697);
 margin: 4px;
}

.input-labal{
   margin: 5px;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
}

.input-labal > input  {
  width: 380px;
  padding: 5px;
  border-radius: 3px;
  color: #000;
  outline: none;
   border-radius: 4px;
   border: solid 2px rgba(20, 20, 20, 0.414);
}

#manter-logado{
   
}










