body{
   margin: 0;
}

.main-login{
   width: 100vw;
   height: 100vh;
   background-color: rgb(230, 228, 228);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.card-login {
   width: 450px;
   height: 370px;
   padding: 0px;
   background-color: rgb(255, 255, 255);
    border-radius: 5px;
   display: flex;
   justify-content: center;
   flex-direction: column;
    /*align-items: center; */
   
}

.card-login > h1{
   text-align: center;
   color: rgba(28, 154, 182, 0.697);
   margin: 0px;
   
}

.input-labal{
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 5px;
   
}

.input-labal > input{
   margin: 5px;
   color: #000000;
   outline: none;
   width: 400px;
   padding: 5px;
   border-radius: 4px;
   border: solid 2px rgba(20, 20, 20, 0.414);
}

#bt-l{
   width: 410px;
   margin: 10px;
   padding: 8px;
   border-radius: 5px;
   background-color: rgba(28, 154, 182, 0.697);
   color: white;
   font-weight: 400;
   border: none;
   cursor: pointer;
}

#bt-l:hover{
   background-color: rgba(12, 177, 214, 0.8);
}

#conta{
   width: 100%;
   padding: 15px;
   margin-left: auto;
   margin-right: auto;
   background-color: rgba(187, 218, 249, 0.439);
}

#cadastre-se{
   background-color: rgb(255, 255, 255);
   border: solid 2px rgba(251, 255, 0, 0.844);
}



