body{
    margin: 0;

}

#main-cadastro{
    width: 100vw;
    height: 100vh;
    background-color: rgb(241, 240, 242);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-cadastro{
    width: 400px;
    height: 450px;
    Background-color: rgb(233, 233, 233);
    text-align: center;
}


